
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    DriveLux Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
       
                <li class="menu-title">Main Menu</li>

                <li>
                    <a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>View Website</span></a>
                </li>

                <li>
                    <a href="index.html" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Statistics</span></a>
                </li>
                <li>
                    <a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>Fleet Management</span></a>
                </li>
                <li>
                    <a href="/AdminFeature/Index/" class="waves-effect"><i class="feather-align-right"></i><span>Car Features</span></a>
                </li>
                <li>
                    <a href="/AdminBrand/Index/" class="waves-effect"><i class="fas fa-business-time"></i><span>Brands</span></a>
                </li>
                 <li>
                    <a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="fas fa-broom"></i><span>Banner Management</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Author Management</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="fas fa-align-center"></i><span>Blog Categories</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-certificate"></i><span>Blog Posts</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-blog"></i><span>About Us</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>Payment Methods</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-comment-dots"></i><span>User Reviews</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-phone"></i><span>Contact Inquiries</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span>Footer Address</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Locations</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-dolly"></i><span>Our Services</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-tv"></i><span>Social Media</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-people-carry"></i><span>Testimonials</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-hashtag"></i><span>Tag Cloud</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-align-right"></i><span>Settings</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="fas fa-window-close"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    
    </div>
</div>